<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notifications</title>
</head>
<body>
    <h1>kill bill</h1>
    <form action="{%url 'notification' data.id%}" method="post">
        {% csrf_token %}
        <div>
            <img src="{{ data.image.url }}" alt="">
            <p>{{ data.title }}</p>
            <p></p>
        </div>
        <textarea name="question" id="" cols="30" rows="10"></textarea>
        <button type="submit">Enquire</button>
    </form>
</body>
</html>
