<html>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/detail.css'%}">

<body>
  <main>
    <form action="{%url 'add-to-wishlist' data.id%}" method="post">
      {%csrf_token%}
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>New Bike</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>{{data.name}}</h1>
            <p class="sub">{{data.brand}}</p>
            <p class="price">₹{{data.price}}</p>
          </div>
          <div class="image">
            <img src="{{data.image.url}}" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>{{data.decription}}</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Recommended by</p>
          <h3>MotoDeal</h3>
        </div>
        <div class="action">
          <button type="submit">Add to cart</button>
        </div>
      </div>
    </div>
  </form>
  </main>
</body>

</html>




